global
defaults
  mode http
  timeout connect 6000ms
  timeout client 5000ms
  timeout server 5000ms

frontend webserver
  bind *:3001
  reqadd X-Forwarded-Proto:\ http  
  capture request header origin len 128
  http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Methods:\ GET,\ HEAD,\ OPTIONS,\ POST,\ PUT  if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Credentials:\ true  if { capture.req.hdr(0) -m found }
  rspadd Access-Control-Allow-Headers:\ Origin,\ Accept,\ X-Requested-With,\ Content-Type,\ Access-Control-Request-Method,\ Access-Control-Request-Headers,\ Authorization  if { capture.req.hdr(0) -m found }
  default_backend aappserver 

backend aappserver
  balance roundrobin
  server app1 service_1:3000 check
  server app2 service_2:3000 check
  server app3 service_3:3000 check